* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(28, 16, 16);
}

/* Header */
header nav ul li a {
  text-decoration: none;
  margin: 5px;
}
.colorNav:hover {
  color: red;
}
li {
  list-style-type: none;
}
header nav ul li a:hover {
  animation: links 2s ease-out none;
}
@keyframes links {
  0% {
    transform: translate(-10%, 0);
  }
  25% {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  header nav ul {
    flex-direction: column;
  }
}

/* fin del header */

/* main */

@media (max-width: 550px) {
  .banner article img {
    width: 20rem;
  }
}
@media (max-width: 550px) {
  .banner2 article img {
    width: 20rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
.contenedor {
  background-image: url(../img/fondodeweb.jpg);
}
section.banner2 {
  display: flex;
  margin: auto;
  width: auto;
  background-image: url(../img/fondopagina.png);
}
.VideoMarca {
  display: flex;
  width: 100%;
}
section#seccion-temporada {
  text-align: center;
}
.carousel-inner img {
  object-fit: unset;
}
section article table {
  border: solid 2px red;
  margin-inline: auto;
}
h2.historia {
  text-align: center;
  background: linear-gradient(black, red);
  color: antiquewhite;
}
p.historiatexto {
  color: blueviolet;
  text-align: center;
}
aside h2.clientes {
  color: darkslateblue;
  text-align: end;
}
h2.video__banner {
  text-align: center;
  color: antiquewhite;
  background: linear-gradient(black, red);
}

iframe.video__local {
  border: solid 5px red;
  margin-left: 34%;
  overflow: auto;
  box-shadow: none;
}

/* fin del main */
/* footer */
.footercontenedor {
  background-image: url(../img/fondodeweb.jpg);
}
.direccion {
  display: flex;
  width: 100%;
}

.textoFooter {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
.textoFooter:hover {
  animation: links 2s ease-out none;
}
@keyframes links {
  0% {
    transform: translate(-2%, 0);
  }
  25% {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  header nav ul {
    flex-direction: column;
  }
}

#fotoredes {
  display: flex;
  width: 100px;
}
/* SECCION HOMBRE */
.contenedor {
  background-image: url(../img/fondopagina.png);
}

.banner {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  margin: 0%;
}
.banner2 {
  display: flex;
  justify-content: center;
}

.banner2 img {
  width: 50rem;
}

.banner2 article h2 {
  text-align: center;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Formulario de CONTACTO */

.formulario {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.formulario label {
  background-color: green;
  display: flex;
  margin: 20px 0;
}
section.formulario {
  margin: 0%;
}

/* galeria */
.titulogaleria {
  text-align: center;
  color: antiquewhite;
}
.promo {
  text-align: center;
  font-weight: bolder;
  display: flex;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: column;
  }
  main {
    background-image: url(../img/fondopagina.png);
  }
}

/* Seccion video */

@media (max-width: 850px) {
  .seccion__video {
    display: none;
  }
}
@media (max-width: 550px) {
  .grids-ropa {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* grids en seccion hombre */
@media (max-width: 550px) {
  .gridshombres {
    display: none;
  }
}
/* grids en index */
/* seccion chicos */
