.formulario {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .formulario label {
    background-color: green;
    display: flex;
    margin: 20px 0;
  }
  section.formulario {
    margin: 0%;
  }
.contenedor{
    background-image: url(../img/fondodeweb.jpg);
}
  