
  .banner {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0%;
  }
  .banner2 {
    display: flex;
    justify-content: center;
  }
  
  .banner2 img {
    width: 50rem;
  }